:root{
    --primary-soft: hsl(75, 94%, 57%);
    
    --neutral-soft: hsl(0, 0%, 100%) ;
    --neutral-dark: hsl(0, 0%, 8%) ;
    --neutral-medium-dark: hsl(0, 0%, 12%);
    --neutral-soft-dark: hsl(0, 0%, 20%);
}
